{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <div class="popup">
        <img class="close" src="{% static 'img/close.svg' %}" alt="close">
        <h1>Sözleşme</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam expedita magnam molestias necessitatibus
            nostrum officiis perferendis, quidem tempora velit veritatis. Culpa debitis delectus doloremque excepturi
            ipsum labore molestias officia tempora.</p>
    </div>
    <main>
        {% if  process_status %}
            <div class="form-success">
                <img src="{% static 'img/check.svg' %}" alt="check">
                <div class="ty">Teşekkürler</div>
                <div class="title">Başvurunuz başarılı bir şekilde iletilmiştir</div>
                <p>İncelemelerimizin ardından başvurunuzda yer alan e-posta adresinize en kısa sürede dönüş
                    sağlanacaktır.</p>
            </div>
        {% endif %}
        <div class="content">
            <h1><span>Formu</span> Doldurunuz</h1>
            <form method="post" action="{% url 'apply:apply' %}" enctype="multipart/form-data">
                <div class="fields">
                    <div class="field">
                        <label for="name">
                            <span>Ad</span>
                            <input type="text" name="name" id="name" required>
                        </label>
                    </div>
                    <div class="field">
                        <label for="surname">
                            <span>Soyad</span>
                            <input type="text" name="surname" id="surname" required>
                        </label>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="phone">
                            <span>Telefon</span>
                            <input type="tel" name="phone" id="phone" required>
                        </label>
                    </div>
                    <div class="field">
                        <label for="email">
                            <span>E-Posta</span>
                            <input type="email" name="email" id="email" required>
                        </label>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="address">
                            <span>Adres</span>
                            <input type="text" name="address" id="address" required>
                        </label>
                    </div>
                    <div class="field selects">
                        <label for="cities">
                            <span>Şehir</span>
                            <select name="cities" id="cities" required>
                                <option value="Brüksel">Brüksel</option>
                            </select>
                        </label>
                        <label for="country">
                            <span>Ülke</span>
                            <select name="country" id="country" disabled required>
                                <option value="Belçika" selected>Belçika</option>
                            </select>
                        </label>
                        <span class="small-warning">*Sadece Belçika'dan başvuru yapılmaktadır.</span>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="reference_code">
                            <span>Referans Kodu</span>
                            <input type="text" name="reference_code_string" id="reference_code">
                        </label>
                    </div>
                    <div class="field">
                        <label for="id_photo">
                            <span>Kimlik Fotoğrafı</span>
                            <input type="file" name="id_photo" id="id_photo" required>
                            <input type="text" name="file_name" id="file_name">
                        </label>
                    </div>
                </div>
                <div class="checked">
                    <label for="privacy">
                        <input type="checkbox" name="privacy" id="privacy" required>
                        <span></span>
                        <p><b>Kişisel Veri Paylaşımı ve İletişim İzni</b> 'ni okuduğumu ve onayladığımı kabul ediyorum.
                        </p>
                    </label>
                </div>
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                <button type="submit">Başvuruyu Gönder</button>
            </form>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}