html, body {
  height: auto;
  min-height: 100%;
}

body {
  background: transparent url("../img/football-bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

main {
  position: relative;
  height: auto;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}