html, body {
  height: auto;
  min-height: 100%;
}

body {
  background: transparent url("../img/home-bg.png") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

main {
  position: relative;
  width: 100%;
  max-width: 767px;
  height: auto;
  margin: auto;
  min-height: 100vh;
  z-index: 1;
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 40px;
    color: $colorWhite;
    font-family: $montserrat-font;
    font-weight: 600;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 15px;
  font-family: $montserrat-font;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    margin: 0 30px;
    font-size: 18px;
    color: $colorWhite;
    text-decoration: none;
    opacity: 0.5;
  }

  .copyright {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: $colorWhite;
    font-size: 14px;
    opacity: 0.5;
    text-decoration: none;
  }
}