{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <main>
        <div class="content">
            <h1>İletişim</h1>
            <p class="address">
                Bizz Media<br>
                Boulevard de l’empreur 10<br>
                1000 Bruxelles<br>
            </p>
            <a class="link" href="tel:+32 479 91 85 03" target="_blank" title="+32 479 91 85 03">+32 479 91 85 03</a>
            <a class="link" href="mailto:info@bizzturk.be" target="_blank" title="info@bizzturk.be">info@bizzturk.be</a>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}