{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <main>
        <div class="content">
            <h1>İletişim</h1>
            <p class="address">320, Greenfelder Creek,<br/> Diamond Bar, WA, 85762-7527</p>
            <a class="link" href="tel:+90 542 460 00 50" target="_blank" title="+90 542 460 00 50">+90 542 460 00 50</a>
            <a class="link" href="tel:+90 533 565 55 55" target="_blank" title="+90 533 565 55 55">+90 533 565 55 55</a>
            <a class="link" href="mailto:akin.karagoz@talkingcodes.com" target="_blank"
               title="akin.karagoz@talkingcodes.com">akin.karagoz@talkingcodes.com</a>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}