{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <main>
        <div class="content">
            <div class="teams">
                <div class="team" style="background-image: url({% static 'img/logos/gs-logo.png' %})"></div>
                <div class="info">
                    <p>19:00</p>
                    <p>29 Nisan 2019 Pazar</p>
                </div>
                <div class="team" style="background-image: url({% static 'img/logos/bjk-logo.svg' %})"></div>
            </div>
            <h1 class="names">GALATASARAY - BEŞİKTAŞ</h1>
        </div>
        <a class="join-btn">
            <img src="{% static 'img/ticket.svg' %}" alt="ticket">
            <span>Bileti Al</span>
        </a>
        <form>
            <div class="form-content">
                <div id="img-crop">
                    <img class="ready" src="{% static 'img/check.svg' %}" alt="check">
                </div>
                <div id="cropper">
                    <img src="{% static 'img/cut.svg' %}" alt="cut">
                    <span>Resmi Kes</span>
                </div>
                <input type="hidden" id="imagebase64" name="imagebase64">
                <label for="upload-image">
                    <input type="file" name="image" id="upload-image" required>
                </label>
                <label for="name">
                    <input type="text" name="name" id="name" placeholder="İsim" required>
                </label>
                <label for="surname">
                    <input type="text" name="surname" id="surname" placeholder="Soyisim" required>
                </label>
                <label for="email">
                    <input type="email" name="email" id="email" placeholder="E-Posta" required>
                </label>
                <label for="tel">
                    <input type="tel" name="tel" id="tel" placeholder="Telefon" required>
                </label>
                <label for="address">
                    <input name="address" id="address" placeholder="Adres" required>
                </label>
                <label for="reference-code">
                    <input type="text" name="reference_code" id="reference-code" placeholder="Referans Kodu">
                </label>
                <button type="submit">
                    <img src="{% static 'img/ball.svg' %}" alt="ball">
                    <span>Gönder</span>
                </button>
            </div>
        </form>
    </main>
{% endblock %}
{% block Scripts %}
    <script src="{% static 'croppie/croppie.min.js' %}"></script>
    <script type="text/javascript">
        let $uploadCrop;

        function readFile(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $uploadCrop.croppie('bind', {
                        url: e.target.result
                    });
                    $('.ready').addClass('active');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $uploadCrop = $('#img-crop').croppie({
            viewport: {width: 200, height: 120},
            enableOrientation: true,
            mouseWheelZoom: 'ctrl'
        });

        $('#upload-image').on('change', function () {
            readFile(this);
        });

        $('#cropper').on('click', function () {
            $uploadCrop.croppie('result', {
                type: 'canvas',
                size: 'original'
            }).then(function (resp) {
                $('#imagebase64').val(resp);
            });
        });

        $('form').on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
        });

        $('.join-btn').on('click', function () {
            $('form').addClass('active');
        });
    </script>
{% endblock %}