{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <main>
        <div class="content">
            <h1>Büyük <span>Karşılaşma</span></h1>
            <div class="teams">
                <div class="team">
                    <div class="team-logo" style="background-image: url({% static 'img/logos/cb-logo.png' %})"></div>
                    <div class="team-name">Club Brugge</div>
                </div>
                <div class="info">
                    <time class="hour">19:55</time>
                    <time class="date">18 Eylül</time>
                </div>
                <div class="team">
                    <div class="team-logo" style="background-image: url({% static 'img/logos/gs-logo.png' %})"></div>
                    <div class="team-name">Galatasaray</div>
                </div>
            </div>
            <a href="{% url 'main:form' %}" class="ticket-btn" title="Bilet Al">Bilet Al</a>
        </div>
    </main>
{% endblock %}