{% extends 'base.html' %}{% load staticfiles %}
{% block App %}
    <main>
        <div class="content">
            <h1 class="ml2">Büyük Karşılaşma</h1>
            <div class="teams">
                <div class="team">
                    <div class="team-logo" style="background-image: url({% static 'img/logos/cb-logo.png' %})"></div>
                    <div class="team-name">Club Brugge</div>
                </div>
                <div class="info">
                    <time class="hour">18:55</time>
                    <time class="date">18 Eylül</time>
                </div>
                <div class="team">
                    <div class="team-logo" style="background-image: url({% static 'img/logos/gs-logo.png' %})"></div>
                    <div class="team-name">Galatasaray</div>
                </div>
            </div>
            <a href="{% url 'apply:apply' %}" class="ticket-btn" title="Bilet Al">Bilet Al</a>
        </div>
    </main>
{% endblock %}
{% block Scripts %}
    <script src="{% static 'animejs/lib/anime.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/anime.js' %}"></script>
{% endblock %}