{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <main>
        <div class="content">
            <h1>Kişisel Verilerin Korunması ve Gizlilik</h1>
            <p>Bizz Bilet A.Ş. (BizzBilet) olarak, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) uyarınca;
                Veri
                Sorumlusu sıfatıyla, işleme amacı ile bağlantılı, sınırlı ve ölçülü olacak şekilde talep ettiğimiz ve
                bizimle paylaşmış olduğunuz kişisel verilerinizin, yine işlenmelerini gerektiren amaç çerçevesinde;
                kaydedilecek, depolanacak, muhafaza edilecek, yeniden düzenlenecek, kanunen bu kişisel verileri talep
                etmeye
                yetkili olan kurumlar ile paylaşılacak, KVKK’nın öngördüğü hallerde ve koşullarda, yurt içi veya yurt
                dışı
                üçüncü kişilere aktarılacak, devredilebilecek, sınıflandırılabilecek ve KVKK’da sayılan sair şekillerde
                işlenebilecek olduğunu bildiririz.</p>
            <p>Kişisel verileriniz, sunulan hizmet için gerekli değerlendirmenin yapılabilmesi, yasal mevzuat
                gerekliliklerinin yerine getirilebilmesi, BizzBilet ve BizzBilet ile iş ilişkisi içerisinde olan
                kişilerin
                hukuki ve ticari güvenliğinin temini, BizzBilet’ın ticari ve iş stratejilerinin belirlenmesi ve
                uygulanması
                ve Şirketimizin insan kaynakları politikalarının yürütülmesinin temini amaçlarıyla KVKK’nın 5. ve 6.
                maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde işlenebilecek,
                kaydedilebilecek,
                depolanabilecek, muhafaza edilebilecek, yeniden düzenlenebilecektir.</p>
            <p>Kişisel verileriniz yukarıda belirtilen amaçlarla, Kişisel Verilerin Korunması Kanunu ve diğer mevzuat
                hükümlerinin izin verdiği kurum veya kuruluşlar; Kişisel Verileri Koruma Kurumu, Maliye Bakanlığı,
                Gümrük ve
                Ticaret Bakanlığı, Çalışma ve Sosyal Güvenlik Bakanlığı gibi kamu tüzel kişileri; bağlı ortaklıklarımız
                ve/veya doğrudan/dolaylı yurtiçi/yurtdışı iştiraklerimiz; BizzBilet olarak faaliyetlerimizi yürütmek
                üzere
                sözleşmesel olarak hizmet aldığımız araştırma şirketleri, işbirliği yaptığımız, her türlü kişisel
                verilerinizin muhafazası, yetkisiz erişimlerin önlenmesi ve hukuka aykırı olarak işlenmelerini önlemek
                gibi
                veri güvenliği tedbirlerinin alınmasında bizimle müşterek ve müteselsil sorumlu olan diğer üçüncü
                kişiler
                ile KVK Kanunu’nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları
                çerçevesinde
                paylaşılabilecek, devredilebilecek ve sınıflandırılabilecektir.</p>
            <p>Kişisel verileriniz, yukarıda belirtilen hukuki sebeplere dayanarak sözlü, yazılı veya elektronik ortam;
                web
                sitemiz, e-posta veya çağrı merkezi gibi kanallar aracılığıyla toplanabilir.</p>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}