{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <main>
        <div class="content">
            <h1>Sıkça Sorulan Sorular</h1>
            <ul class="questions">
                <li>
                    <div class="title">Hareket Yeri Neresi?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
                <li>
                    <div class="title">Komisyon oranı ve işlem ücreti nedir?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
                <li>
                    <div class="title">Taksitlendirme nedir?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
                <li>
                    <div class="title">Hareket Yeri Neresi?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
                <li>
                    <div class="title">Komisyon oranı ve işlem ücreti nedir?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
                <li>
                    <div class="title">Taksitlendirme nedir?</div>
                    <p>Otobüslerimiz times meydanından hareket edecektir.</p>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}