{% extends 'base.html' %}{% load staticfiles %}
{% block StyleSheet %}{% endblock %}
{% block App %}
    <main>
        <div class="content">
            <h1>Sıkça Sorulan Sorular</h1>
            <ul class="questions">
                <li>
                    <div class="title">Neden başvurmalıyım?</div>
                    <p>
                        Sistemimiz belirli bir onay sürecinin ardından size bu önemli maça katılım hakkı tanıyor.
                        Gerekli birimler tarafından incelenerek bir elemeden geçmeniz sağlanacaktır.
                    </p>
                </li>
                <li>
                    <div class="title">Referans kodu nedir?</div>
                    <p>Referans kodu eleme sürecinde öncelik kazanmanızı sağlayacaktır.</p>
                </li>
                <li>
                    <div class="title">Ödemeyi nasıl yapacağız?</div>
                    <p>Ödemeyi onay sürecinin ardından size bildirilen banka bilgilerine göre havale ile yapmanız talep
                        edilecektir.</p>
                </li>
                <li>
                    <div class="title">Bu sistem güvenilir mi?</div>
                    <p>Sistemimiz Belçika yönetimi ve emniyet güçleri onayının ardından açılmıştır.</p>
                </li>
                <li>
                    <div class="title">Sistem neden kuruldu?</div>
                    <p>Sistemimiz bu önemli karşılaşma öncesi ve sonrasında doğabilecek sorunların önüne geçmek amacıyla
                        kurulmuştur.</p>
                </li>
                <li>
                    <div class="title">Hareket saati ve yeri neresi?</div>
                    <p>Başvuruyu yaptığınız e-posta adresiyle size maç öncesi buluşma noktası ve saati hakkında size
                        bilgilendirme yapılacaktır.</p>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
{% block Scripts %}{% endblock %}