#contact {
  .address, .link {
    font-family: $poppins-font;
    font-size: 22px;
    line-height: 1.4;
    color: $colorWhite;
    opacity: 0.8;
    text-align: center;
  }

  .address {
    padding: 20px 0;
  }

  .link {
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 4px 0;
  }

  @media (max-width: 767px) {
    .address, .link {
      font-size: 18px;
    }
  }
  @media (max-width: 480px) {
    .address, .link {
      font-size: 14px;
    }
  }
}