#form {

  form {
    padding-top: 45px;
  }

  .fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    text-align: left;
  }

  .field {
    width: calc(50% - 30px);
    position: relative;
  }

  .selects {
    display: flex;
    justify-content: space-between;

    label {
      width: calc(50% - 10px);
    }
  }

  label {
    display: block;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);

    span {
      display: block;
      font-size: 16px;
      color: $colorWhite;
      opacity: .7;
      font-family: $poppins-font;
    }
  }

  #id_photo {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }

  #file_name {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    background: transparent no-repeat url("../img/uplaod.png") center right;
    -webkit-background-size: contain;
    background-size: contain;
    padding-right: 70px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  input, select {
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: $poppins-font;
    font-size: 20px;
    font-weight: 600;
    color: $colorWhite;
    outline: none;
    line-height: 1.2;
    margin: 5px 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../img/down-arrow.svg") no-repeat center right;
    -webkit-background-size: 16px;
    background-size: 16px;
  }

  option {
    padding: 0;
  }

  .small-warning {
    font-family: $poppins-font;
    font-weight: 300;
    font-size: 12px;
    color: $colorWhite;
    opacity: .7;
    position: absolute;
    top: 100%;
    padding: 6px 0;
    right: 0;
    z-index: 1;
  }

  .checked {
    position: relative;
    margin-bottom: 15px;

    label {
      border-bottom: none;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      width: 30px;
      height: 30px;
      margin: 0;

      &:checked + span:before {
        opacity: 1;
      }
    }

    span {
      min-width: 24px;
      min-height: 24px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: $colorYellow;
      opacity: 1;

      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: 10px;
        width: 10px;
        height: 20px;
        border: solid $colorWhite;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(40deg);
        -moz-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        -o-transform: rotate(40deg);
        transform: rotate(40deg);
        opacity: 0;
      }
    }

    p {
      font-size: 14px;
      font-family: $poppins-font;
      color: rgba(255, 255, 255, 0.7);
      padding-left: 10px;
      line-height: 1.4;
      text-align: left;

      b {
        font-weight: 600;
        color: $colorWhite;
        text-decoration: underline rgba(255, 255, 255, 0.7);
      }
    }
  }

  .errorlist {
    opacity: 0.7;
    font-size: 12px;
    color: $colorWhite;
    font-family: $poppins-font;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;

    > li {
      text-indent: -9999px;

      &:last-child {
        margin-bottom: 15px;
      }

      ul {
        li {
          text-indent: 0 !important;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  button {
    width: 100%;
    max-width: 320px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    font-family: $poppins-font;
    font-weight: 600;
    color: $colorWhite;
    background-color: $colorYellow;
    padding: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: none;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    &:hover {
      opacity: .5;
    }
  }

  footer {
    background-color: rgba(0, 0, 0, 0.9);
  }

  @media(max-width: 768px) {
    form {
      padding-top: 20px;
    }
    .fields {
      margin-bottom: 30px;
    }
    .field {
      width: calc(50% - 10px);
    }
    .fields-cs {
      display: block;
      margin-bottom: 45px;

      .field {
        width: 100%;

        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
    label {
      span {
        font-size: 14px;
      }
    }
    input, select {
      font-size: 16px;
    }
    .small-warning {
      font-size: 10px;
    }
    .checked {
      p {
        font-size: 12px;
      }
    }
    button {
      max-width: 200px;
      font-size: 14px;
      padding: 10px;
    }
  }
  @media(max-width: 480px) {
    .fields {
      margin-bottom: 15px;

      &.fields-cs {
        margin-bottom: 40px;
      }
    }
    .field, .selects label {
      width: calc(50% - 5px);
    }
    label {
      span {
        font-size: 12px;
      }
    }
    input, select {
      font-size: 12px;
    }
    select {
      -webkit-background-size: 10px;
      background-size: 10px;
    }
    .checked {
      span {
        min-width: 20px;
        min-height: 20px;

        &:before {
          top: 1px;
          left: 10px;
          width: 6px;
          height: 16px;
        }
      }

      p {
        font-size: 10px;
      }
    }
    button {
      max-width: 140px;
      font-size: 12px;
      padding: 10px;
      margin: 10px auto;
    }
  }
}

@keyframes loop {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes ticket {
  0% {
    -webkit-transform: rotate(0) scale(0.8);
    -moz-transform: rotate(0) scale(0.8);
    -ms-transform: rotate(0) scale(0.8);
    -o-transform: rotate(0) scale(0.8);
    transform: rotate(0) scale(0.8);
  }
  50% {
    -webkit-transform: scale(1) rotate(-45deg);
    -moz-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    -o-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(0.8);
    -moz-transform: rotate(0) scale(0.8);
    -ms-transform: rotate(0) scale(0.8);
    -o-transform: rotate(0) scale(0.8);
    transform: rotate(0) scale(0.8);
  }
}