#football {
  main {
    flex-direction: row;
  }

  .content {
    text-align: center;
    margin: auto;
    padding: 15px;
  }

  h1 {
    font-size: 200px;
    color: $colorWhite;
    font-family: $dancing-font;
  }

  h2 {
    font-size: 60px;
    color: $colorYellow;
    font-family: $montserrat-font;
  }

  p {
    font-size: 12px;
    color: $colorWhite;
    font-family: $montserrat-font;
    line-height: 1.4;
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    font-weight: 300;
  }

  form {
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    padding: 15px;
    position: relative;
    z-index: 2;
    width: 300px;
    margin: auto 0;
    right: -300px;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    &.active {
      right: 0;
    }
  }

  label {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    width: 100%;
    border: 0;
    outline: none;
    font-family: $montserrat-font;
    color: black;
    font-size: 12px;
    padding: 10px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $colorWhite;
  }

  button {
    background-color: $colorWhite;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    width: 120px;
    margin: auto;
    font-family: $montserrat-font;
    font-weight: bold;
    font-size: 14px;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  .join-btn {
    position: absolute;
    right: 0;
    border: 2px solid $colorWhite;
    border-right: 0;
    -webkit-border-radius: 100px 0 0 100px;
    -moz-border-radius: 100px 0 0 100px;
    border-radius: 100px 0 0 100px;
    padding: 30px 15px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $montserrat-font;
    font-size: 22px;
    color: $colorWhite;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    svg {
      width: 100px;
      height: auto;
      -webkit-transition: .4s ease;
      -moz-transition: .4s ease;
      -ms-transition: .4s ease;
      -o-transition: .4s ease;
      transition: .4s ease;
      fill: $colorWhite;
    }
  }

  #img-crop {
    width: 120px;
    margin: auto;
    position: relative;
  }

  .ready {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -50px;
    margin: auto;
    width: 34px;
    height: 34px;
    z-index: 2;
    display: none;

    &.active {
      display: block;
    }
  }

  .cr-boundary {
    height: 120px;
    background: transparent url("../img/profile-picture.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  #cropper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $montserrat-font;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;

    img {
      width: 20px;
      height: auto;
      margin-right: 5px;
    }
  }
}