#football {

  .content {
    text-align: center;
    padding: 15px;
    font-family: $montserrat-font;
  }

  .teams {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team {
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .info {
    padding: 15px;
  }

  p {
    font-size: 30px;
    color: $colorWhite;
    font-family: $montserrat-font;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 0;
  }

  .team-names {
    font-size: 60px;
    color: $colorWhite;
    font-family: $montserrat-font;
    font-weight: 600;
    margin-top: 30px;
  }

  form {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    max-width: 767px;
    height: calc(100vh - 60px);
    margin: auto;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    opacity: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      opacity: 1;
      z-index: 2;
    }
  }

  .form-content {
    width: 100%;
    margin: auto;
  }

  label {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input {
    width: 100%;
    border: 0;
    outline: none;
    font-family: $montserrat-font;
    color: black;
    font-size: 12px;
    padding: 10px;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: $colorWhite;
  }

  button {
    background-color: $colorWhite;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    width: 120px;
    margin: auto;
    font-family: $montserrat-font;
    font-weight: bold;
    font-size: 14px;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
  }

  .ticket-btn {
    font-family: $montserrat-font;
    font-size: 14px;
    color: $colorWhite;
    cursor: pointer;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px dotted $colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 0;
    -webkit-animation: loop 2s linear infinite;
    -o-animation: loop 2s linear infinite;
    animation: loop 2s linear infinite;

    &:hover {
      -webkit-animation: none;
      -o-animation: none;
      animation: none;

      img {
        -webkit-animation: none;
        -o-animation: none;
        animation: none;
      }
    }

    img {
      width: 40px;
      height: auto;
      margin-bottom: 10px;
      -webkit-animation: ticket 2s linear infinite;
      -o-animation: ticket 2s linear infinite;
      animation: ticket 2s linear infinite;
    }

    span {
      margin-bottom: 15px;
    }
  }

  #img-crop {
    width: 200px;
    height: 170px;
    margin: auto;
    position: relative;
  }

  .ready {
    position: absolute;
    left: -12px;
    top: -12px;
    width: 34px;
    height: 34px;
    z-index: 2;
    display: none;

    &.active {
      display: block;
    }
  }

  .cr-boundary {
    height: 120px;
    background: transparent url("../img/card.png") no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
  }

  .cr-viewport {
    border-color: black;
  }

  #cropper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $montserrat-font;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;

    img {
      width: 20px;
      height: auto;
      margin-right: 5px;
    }
  }
}

@keyframes loop {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes ticket {
  0% {
    -webkit-transform: rotate(0) scale(0.8);
    -moz-transform: rotate(0) scale(0.8);
    -ms-transform: rotate(0) scale(0.8);
    -o-transform: rotate(0) scale(0.8);
    transform: rotate(0) scale(0.8);
  }
  50% {
    -webkit-transform: scale(1) rotate(-45deg);
    -moz-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    -o-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(0.8);
    -moz-transform: rotate(0) scale(0.8);
    -ms-transform: rotate(0) scale(0.8);
    -o-transform: rotate(0) scale(0.8);
    transform: rotate(0) scale(0.8);
  }
}