#sss {
  .questions {
    padding-top: 30px;

    li {
      margin-bottom: 30px;
      font-family: $poppins-font;
      color: $colorWhite;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .title {
      font-size: 24px;
    }

    p {
      font-size: 14px;
      padding: 10px 0;
      opacity: 0.6;
    }

    .title, p {
      line-height: 1.2;
    }
  }

  @media(max-width: 767px) {
    .questions {
      li {
        margin-bottom: 15px;
      }

      .title {
        font-size: 20px;
      }
    }
  }
  @media(max-width: 480px) {
    .questions {
      padding-top: 15px;

      li {
        margin-bottom: 10px;
      }

      .title {
        font-size: 14px;
      }

      p {
        padding: 5px 0;
        font-size: 12px;
      }
    }
  }
}