{% load staticfiles %}<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Futbolun Kalbi | {{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat:300,400,600,700&display=swap&subset=latin-ext" rel="stylesheet">
    {% block StyleSheet %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body id="{{ body_id }}">
{% block App %}{% endblock %}
<footer>
    <nav>
        <a title="Anasayfa" href="{% url 'main:main' %}">Anasayfa</a>
        <a title="Hakkımızda" href="{% url 'main:about' %}">Hakkımızda</a>
        <a title="S.s.s" href="{% url 'main:sss' %}">S.s.s</a>
        <a title="Gizlilik" href="{% url 'main:privacy' %}">Gizlilik</a>
        <a title="İletişim" href="{% url 'main:contact' %}">İletişim</a>
    </nav>
    <a href="http://www.talkingcodes.com" target="_blank" class="copyright">© 2019, TalkingCodes</a>
</footer>
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% block Scripts %}{% endblock %}
</body>
</html>